#### Introduction To Lists
- Lists are ordered, mutable collections of items.
- They can contain items of different data types.

##### Video Outline:
1. Introduction to Lists
2. Creating Lists
3. Accessing List Elements
4. Modifying List Elements
5. List Methods
6. Slicing Lists
7. Iterating Over Lists
8. List Comprehensions
9. Nested Lists
10. Practical Examples and Common Errors

In [1]:
lst=[]
print(type(lst))

<class 'list'>

In [2]:
name=["rohit","sumit","tulika","arpita",1,2,3,3.4]
print(name)

['rohit', 'sumit', 'tulika', 'arpita', 1, 2, 3, 3.4]

In [3]:
mix_lst=[1,"hello",3.14,True]
print(mix_lst)

[1, 'hello', 3.14, True]

In [4]:
fruits=["apple","banana","cherry","kiwi","mango","grapes"]

In [ ]:
## accessing

fruits[2]

'cherry'

In [6]:
fruits[2:]

['cherry', 'kiwi', 'mango', 'grapes']

In [7]:
fruits[1:4]

['banana', 'cherry', 'kiwi']

In [8]:
## modifying 

fruits[0]="orange"
print(fruits)

['orange', 'banana', 'cherry', 'kiwi', 'mango', 'grapes']

In [9]:
fruits=["apple","banana","cherry","kiwi","mango","grapes"]

In [10]:
## add item to end 

fruits.append("gauva")
print(fruits)

['apple', 'banana', 'cherry', 'kiwi', 'mango', 'grapes', 'gauva']

In [ ]:
## insert in index

fruits.insert(3,"watermelon")

In [12]:
print(fruits)

['apple', 'banana', 'cherry', 'watermelon', 'kiwi', 'mango', 'grapes', 'gauva']

In [13]:
## remove 

fruits.remove("mango")
print(fruits)

['apple', 'banana', 'cherry', 'watermelon', 'kiwi', 'grapes', 'gauva']

In [14]:
## pop

pop_itm=fruits.pop()
print(pop_itm)
print(fruits)

gauva
['apple', 'banana', 'cherry', 'watermelon', 'kiwi', 'grapes']

In [16]:
## get index by name 
idx=fruits.index("grapes")
print(idx)

5

In [17]:
## count 

fruits.count("kiwi")

1

In [18]:
## sort 

fruits.sort()

In [19]:
print(fruits)

['apple', 'banana', 'cherry', 'grapes', 'kiwi', 'watermelon']

In [20]:
fruits.reverse()

In [21]:
fruits

['watermelon', 'kiwi', 'grapes', 'cherry', 'banana', 'apple']

In [23]:
fruits.clear()

In [24]:
fruits

[]

In [25]:
## Slicing list 

num = [1,2,3,4,5,6,7,8,10]
print(num[2:5])
print(num[:5])
print(num[5:])
print(num[::2])
print(num[::-1])

[3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 10]
[1, 3, 5, 7, 10]
[10, 8, 7, 6, 5, 4, 3, 2, 1]

In [26]:
## Iterating over list 

for numb in num:
    print(numb)

1
2
3
4
5
6
7
8
10

In [27]:
for index,numb in enumerate(num):
    print(index,numb)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 10

In [32]:
## list comprehension 

lst=[]
for x in range(10):
    lst.append(x**2)
print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [33]:
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

##### List Comprehension

Basics Syantax            [expression for item in iterable]

with conditional logic    [expression for item in iterable if condition]

Nested List Comprehension [expression for item1 in iterable1 for item2 in iterable2]

In [34]:
## basic list comphrension 
square=[num**2 for num in range(10)]
print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
## list comphrension  with condition 

lst=[]
for i in range(10):
    if i%2==0:
        lst.append(i)
print(lst)

[0, 2, 4, 6, 8]

In [37]:
even_num = [num for num in range(10) if num%2==0]
print(even_num)

[0, 2, 4, 6, 8]

In [38]:
## nested list comphrension 

lst1=[1,2,3,4]
lst2=["a","b","c","d"]

pair=[[i,j]for i in lst1 for j in lst2]
print(pair)

[[1, 'a'], [1, 'b'], [1, 'c'], [1, 'd'], [2, 'a'], [2, 'b'], [2, 'c'], [2, 'd'], [3, 'a'], [3, 'b'], [3, 'c'], [3, 'd'], [4, 'a'], [4, 'b'], [4, 'c'], [4, 'd']]

In [39]:
## List Comprehension with function calls
words = ["hello", "world", "python", "list", "comprehension"]
lengths = [len(word) for word in words]
print(lengths)  # Output: [5, 5, 6, 4, 13]

[5, 5, 6, 4, 13]