#### Tuples
Video Outline:
1. Introduction to Tuples
2. Creating Tuples
3. Accessing Tuple Elements
4. Tuple Operations
5. Immutable Nature of Tuples
6. Tuple Methods
7. Packing and Unpacking Tuples
8. Nested Tuples
9. Practical Examples and Common Errors


##### Introduction to Tuples
Explanation:

Tuples are ordered collections of items that are immutable.
They are similar to lists, but their immutability makes them different.

In [1]:
## creating a tuple 


empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [2]:
list=list()
print(type(list))
tpl=tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [5]:
numbers=tuple([1,2,3,4,5])
numbers

(1, 2, 3, 4, 5)

In [1]:
list((1,2,3,4,5))

[1, 2, 3, 4, 5]

In [2]:
## mixed tuple 

mix_tuple=(1,"hello",3.14,True)
print(mix_tuple)

(1, 'hello', 3.14, True)

In [5]:
## accessing tuple elements

numbers=(1,2,3,4,5,6)

In [6]:
numbers

(1, 2, 3, 4, 5, 6)

In [7]:
numbers[0]

1

In [8]:
## tuple operations

numbers

(1, 2, 3, 4, 5, 6)

In [9]:
mix_tuple

(1, 'hello', 3.14, True)

In [11]:
concatenation_tuple = numbers + mix_tuple
print(concatenation_tuple)

(1, 2, 3, 4, 5, 6, 1, 'hello', 3.14, True)

In [12]:
mix_tuple * 3

(1, 'hello', 3.14, True, 1, 'hello', 3.14, True, 1, 'hello', 3.14, True)

In [26]:
lst=[1,2,3,4,5,6,1,2,3]
print(lst)

[1, 2, 3, 4, 5, 6, 1, 2, 3]

In [27]:
lst[1]="sumit"

In [28]:
print(lst)

[1, 'sumit', 3, 4, 5, 6, 1, 2, 3]

In [29]:
print(lst.count(3))

2

In [31]:
print(lst.index(5))

4

In [34]:
## packing of tuple 

pack_tpl=1,"hello",3.14
print(pack_tpl)

(1, 'hello', 3.14)

In [35]:
## unpacking of tuple 

a,b,c=pack_tpl
print(a)
print(b)
print(c)

1
hello
3.14

In [36]:
## unpacking with *

numbers=(1,2,3,4,5,6)
first,*middle,last=numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [ ]:
## nested tuple 
## nested list 

## list inside list 

lst=[[1,2,3,4,],[5,6,7,8],[1,"hello",3.14,"c"]]
# lst[0] ## take [1,2,3,4]
lst[0][2]  ## take the element inside that 3

3

In [41]:

#tuple in list 


lst=[[1,2,3,4,],[5,6,7,8],(1,"hello",3.14,"c")]
lst[2][0:3]

(1, 'hello', 3.14)

In [43]:
## nested tuple 

nes_tuple=((1,2,3),("a","s","d"),(True,False))
## access the element inside a tuple 

print(nes_tuple[0])
print(nes_tuple[1][2])

(1, 2, 3)
d

In [47]:
## iterating over nested tuple 
for sub_tpl in nes_tuple:
    for item in sub_tpl:
        print(item,end=" ")
    print()

1 2 3
a s d
True False