#### Sets
Sets are a built-in data type in Python used to store collections of unique items. They are unordered, meaning that the elements do not follow a specific order, and they do not allow duplicate elements. Sets are useful for membership tests, eliminating duplicate entries, and performing mathematical set operations like union, intersection, difference, and symmetric difference.

In [17]:
## create a set 

my_set={1,2,3,4,5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [18]:
my_empty_set=set()
print(type(my_empty_set))

<class 'set'>

In [19]:
my_set=set([1,2,3,4,5])
print(my_set)

{1, 2, 3, 4, 5}

In [30]:
my_empty_set=set([9,8,7,6,4,54,3,2,1,])
print(my_empty_set)

{1, 2, 3, 4, 6, 7, 8, 9, 54}

In [31]:
## basic set operation 
## adding adn removeing 

my_empty_set.add(45)
print(my_empty_set)
my_empty_set.add(45)
print(my_empty_set)

{1, 2, 3, 4, 6, 7, 8, 9, 45, 54}
{1, 2, 3, 4, 6, 7, 8, 9, 45, 54}

In [35]:
## remove the element fron a set 



my_empty_set.remove(45)
print(my_empty_set)

{1, 2, 3, 4, 6, 7, 8, 9}

In [36]:

my_empty_set.discard(67)
print(my_empty_set)

{1, 2, 3, 4, 6, 7, 8, 9}

In [39]:
## pop method 

removed_element=my_empty_set.pop()
print(removed_element)
print(my_empty_set)

3
{4, 6, 7, 8, 9}

In [40]:
## Set membership test

my_empty_set={1,2,3,4,5}
print(3 in my_empty_set)
print(8 in my_empty_set)

True
False

In [43]:
## Mathematical opeeration 

set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}

## union 
union_set=set1.union(set2)
print(union_set)

## intersection
intersect_set=set1.intersection(set2)
print(intersect_set)

set1.intersection_update(set2)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}
{4, 5, 6}

In [47]:
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}

## difference

set1.difference(set2)

{1, 2, 3}

In [50]:
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}

print(set1.difference_update(set2))

None

In [51]:
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}

set1.symmetric_difference(set2)

{1, 2, 3, 7, 8, 9}

In [55]:
## sets method 

set1={1,2,3}
set1={3,4,5}

# is subset
print(set1.issubset(set2))

# issuperset
print(set1.issuperset(set2))

False
False

In [56]:
## task 

lt=[1,2,2,3,4,4,5]
set(lt)

{1, 2, 3, 4, 5}

In [61]:
## counting unique words in text 

text="In this tutorial we are discussing about sets"
word=text.split()

## convert list of words to set to get unique words
unique_words=set(word)
print(unique_words)
print(len(unique_words))

{'In', 'we', 'tutorial', 'about', 'are', 'discussing', 'this', 'sets'}
8