#### Loops
Video Outline:
1. Introduction to Loops
2. for Loop
   - Iterating over a range
   - Iterating over a string

3. while Loop
4. Loop Control Statements
    - break
    - continue
    - pass
5. Nested Loops
6. Practical Examples and Common Errors

In [ ]:
range(0,5)

In [3]:
## for loop 
# 

for i in range(5): 
    print(i)

0
1
2
3
4

In [13]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [14]:
for i in range(10,1,-2):
    print(i)

10
8
6
4
2

In [17]:
str="sumit mangale"
for i in str:
    print(i)

s
u
m
i
t

m
a
n
g
a
l
e

## while loop

In [ ]:
## loop will run and output will be given until the condition get false

In [9]:
count = 0
while count<8:
    print(count)
    count=count+1

0
1
2
3
4
5
6
7

In [20]:
## break statement 

for i in range(10):
    if i==6:
        break
    print(i)

0
1
2
3
4
5

In [21]:
## continue statement

for i in range(20):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9
11
13
15
17
19

In [26]:
for i in range(3):
    for j in range(2):
        print(f"i:{i} and j:{j}")

i:0 and j:0
i:0 and j:1
i:1 and j:0
i:1 and j:1
i:2 and j:0
i:2 and j:1

## examples

In [29]:
## while loop 
## cal the n natural number 

n=10
sum=0
count=1

while count<=n:
    sum=sum+count
    count=count+1
print(sum)

55

In [33]:

n=10
sum=0
for i in range(11):
    sum=sum+i
print(sum)

55

In [35]:
## print  prime numbers bet 1 - 100

for num in range(1,101):
    if num>1:
        for i in range(2,num):
            if num%i==0:
                break
        else:
                print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97